<mat-card>
  <div class="form" *ngIf="titleVisible">
    <mat-form-field>
      <mat-label>Section title</mat-label>
      <input matInput [(ngModel)]="content.title" >
    </mat-form-field>
    <button class="delete-button" mat-raised-button color="warn" (click)="titleVisible = false" >
      <mat-icon>
        delete
      </mat-icon>
    </button>
  </div>
  <div class="form" *ngIf="textMainVisible">
    <mat-form-field>
      <mat-label>{{label}}</mat-label>
      <textarea matInput [(ngModel)]="content.textMain" ></textarea>
    </mat-form-field>
    <button class="delete-button" mat-raised-button color="warn" (click)="textMainVisible = false">
      <mat-icon>
        delete
      </mat-icon>
    </button>
  </div>

  <ng-container *ngIf="content.innerItems">
    <app-add-provision-content [content]="item" [order]="order + 1"
      *ngFor="let item of content.innerItems"></app-add-provision-content>
  </ng-container>

  <div class="add-section-button">
    <button mat-stroked-button *ngIf="content.innerItemsType" (click)="addSection(content.innerItemsType)">Add section</button>
    <button mat-stroked-button *ngIf="!content.innerItemsType" (click)="switchDropdown()">Add section</button>
    <div id="myDropdown" class="dropdown-content" *ngIf="showDropdown">
      <a (click)="addSection('Část')">Část</a>
      <a (click)="addSection('Článek')">Článek</a>
      <a (click)="addSection('Odstavec')">Odstavec</a>
    </div>
  </div>
</mat-card>
