<div>
  <h2 *ngIf="itemType && showHeader" id="{{content.id?.toString()}}">
    {{itemType === 'Paragraf' ? '§' : itemType}} {{content.identifier}}
  </h2>
  <h3 *ngIf="content.title">{{content.title}}</h3>
  <p>
    <ng-container *ngIf="!showHeader && order">
      <span *ngIf="itemType === 'Odstavec'" class="order">({{order}}) </span>
      <span *ngIf="itemType === 'Pododstavec'" class="order pododstavec">
        {{String.fromCharCode(order + 96)}}) </span>
      <span *ngIf="itemType === 'Bod'" class="order bod">{{order}}. </span>
    </ng-container>
    {{content.textMain}}
  </p>

  <div *ngIf="content.references.length > 0">
    <button class="reference-button" mat-stroked-button (click)="openReferencesWindow()">
      Zobrazit odkazy
    </button>
  </div>

  <app-provision-content
    *ngFor="let innerContent of content.innerItems; let i = index"
    [content]="innerContent"
    [itemType]="content.innerItemsType || ''"
    [order]="i + 1"></app-provision-content>
</div>
