<div>
  <h2 *ngIf="itemType && showHeader" id="{{content.id?.toString()}}">
    {{itemType}} {{content.identifier}}
  </h2>
  <h3 *ngIf="content.title">{{content.title}}</h3>
  <p>
    <span *ngIf="showHeader && order" class="order">{{order}}. </span>
    {{content.textMain}}
  </p>

  <div *ngIf="content.references.length > 0">
    <button mat-stroked-button (click)="openReferencesWindow()">
      Zobrazit odkazy
    </button>
  </div>

  <app-provision-content
    *ngFor="let innerContent of content.innerItems; let i = index"
    [content]="innerContent"
    [itemType]="content.innerItemsType"
    [order]="i + 1"></app-provision-content>
</div>
