<div>
<!--  <app-toolbar [isSidebarOpened]="isSidebarOpened"></app-toolbar>-->
  <header>
    <mat-toolbar color="primary">
      <!--  <button mat-button (click)="openCloseSidebar()">-->
      <!--    <mat-icon>-->
      <!--      list icon-->
      <!--    </mat-icon>-->
      <!--  </button>-->

      Legal Regulations App
    </mat-toolbar>
  </header>

  <div class="main-content">
<!--    <router-outlet></router-outlet>-->
    <app-provision-comparison [provisionId]="provisionId"
                              [firstIssueDate]="firstDate"
                              [secondIssueDate]="secondDate"></app-provision-comparison>
  </div>

<!--  <app-provision-sidebar [isSidebarOpened]="isSidebarOpened"></app-provision-sidebar>-->
</div>
