<div>
<!--  <app-toolbar [isSidebarOpened]="isSidebarOpened"></app-toolbar>-->

  <app-toolbar></app-toolbar>

  <div class="main-content">
    <router-outlet></router-outlet>
<!--    <app-provision-comparison [provisionId]="provisionId"-->
<!--                              [firstIssueDate]="firstDate"-->
<!--                              [secondIssueDate]="secondDate"></app-provision-comparison>-->
  </div>

<!--  <app-provision-sidebar [isSidebarOpened]="isSidebarOpened"></app-provision-sidebar>-->
</div>
