<mat-card class="content">
  <div class="top">
    <a mat-stroked-button
       id="download-button"
       color="warn"
       href="{{fileToDownloadUrl}}">
      Stáhnout plnou verzi dokumentu
      <mat-icon>
        download
      </mat-icon>
    </a>
  </div>
  <mat-card-header>
    <mat-card-title class="bold center">
      {{provision.fields.content.title}}
    </mat-card-title>
    <mat-card-subtitle class="italic center">
      {{provision.fields.content.textMain}}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <app-provision-content *ngFor="let child of provision.fields.content.innerItems"
                           [content]="child"
                           [itemType]="provision.fields.content.innerItemsType"></app-provision-content>
  </mat-card-content>
</mat-card>
