.content {
  margin: 0 15px;
  padding: 1.5rem;
}

mat-card-title {
  width: auto;
  font-size: 1.5rem;
  font-family: Georgia, serif;
}

mat-card-subtitle {
  margin: 20px 10px;
  font-family: Georgia, serif;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

.top {
  height: 3rem;
  width: 100%;
}

#download-button {
  position: absolute;
  right: 30px;
}

#organ {
  width: 40%;
  margin: 0;
  display: inline;
  font-style: italic;
}

.ref-button {
  margin-top: 25px;
}
