<mat-card class="content">
  <mat-card-header>
    <mat-card-title>
      {{provision.fields.content.title}}
    </mat-card-title>
  </mat-card-header>
  <a mat-icon-button color="warn" href="http://localhost:5024/file/b7f306b2-2e3a-4495-a438-125a74121345">
    <mat-icon>
      download
    </mat-icon>
  </a>
  <mat-card-content>
    <app-provision-content *ngFor="let child of provision.fields.content.innerItems"
                           [content]="child"
                           [itemType]="provision.fields.content.innerItemsType"></app-provision-content>
  </mat-card-content>
</mat-card>
