<mat-sidenav-container hasBackdrop="false">
  <mat-sidenav mode="side" [opened]="isSidebarOpened">
    <app-provision-menu [provision]="provisionVersion"></app-provision-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <button mat-mini-fab color="primary" id="expansion-button" (click)="isSidebarOpened = !isSidebarOpened">
      <mat-icon>
        {{isSidebarOpened ? 'arrow_back' : 'arrow_forward'}}
      </mat-icon>
    </button>

    <app-legal-provision [provision]="provisionVersion"></app-legal-provision>

    <div class="right-sidebar">
      <div class="fixed-content">
        <app-versions-list [provisionHeader]="provision" (versionChanged)="getProvision($event)"></app-versions-list>

        <mat-form-field appearance="fill" *ngIf="provision">
          <mat-label>Compare</mat-label>
          <mat-select [(value)]="dateOfChange">
            <ng-container *ngFor="let date of provision.fields.datesOfChange">
              <mat-option *ngIf="date !== currentDate" [value]="date">
                {{date}}
              </mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>

        <button mat-raised-button (click)="openComparisonPage()" color="primary">
          Compare version
        </button>

        <div class="manipulation-buttons">

          <div class="section">
            <h2 class="section-header">Verze</h2>
            <button class="edit-button"
                    mat-raised-button
                    routerLink="/update-provision-version/{{provisionVersion.id}}"
                    color="accent">
              Upravit verzi
            </button>
            <button class="delete-button"
                    mat-raised-button
                    color="warn"
                    (click)="deleteVersion(provisionVersion)">
              Smazat verzi
            </button>
          </div>

          <mat-divider id="button-divider"></mat-divider>

          <div class="section">
            <h2 class="section-header">Předpis</h2>
            <button mat-raised-button
                    class="edit-button"
                    id="edit-provision"
                    routerLink="/add-provision-version/{{provision?.id?.toString()}}">
              Upravit přespis
            </button>
            <button mat-raised-button
                    class="delete-button"
                    id="delete-provision"
                    (click)="deleteProvision()">
              Smazat přespis
            </button>
          </div>

        </div>

      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
