mat-toolbar {
  background: #004a9f;
  color: white;
}

mat-sidenav {
  margin: 16px 0 16px 16px;
  width: 30vw;
  border-right: none;
  background: #dcdcdc;
  color: white;
  border-radius: 10px;
  /*padding: 16px;*/
  text-align: left;
}

/*.content {*/
/*  height: calc(100vh - 98px);*/
/*  border-radius: 10px;*/
/*  margin: 16px 16px 16px 32px;*/

/*  display: flex;*/
/*  justify-content: center;*/
/*  padding: 30px;*/
/*}*/

.item {
  color: white;
}

mat-sidenav-container {
  height: 100%;
  width: 100%;
}

mat-sidenav-content {
  display: flex;
}

button {
  margin: 20px 0 0 20px;
/*  width: 15px;*/
/*  padding-left: 0;*/
/*  padding-right: 0;*/
}

