mat-sidenav {
  margin: 16px 0 16px 16px;
  width: 30rem;
  border-right: none;
  /*background: #dcdcdc;*/
  color: white;
  border-radius: 10px;
  text-align: left;
}

.item {
  color: white;
}

mat-sidenav-container {
  width: 100%;
  position: relative;
  z-index: 1;
  padding-top: 15px;
  padding-bottom: 20px;
}

mat-sidenav-content {
  display: flex;
  padding-left: 10px;
  padding-bottom: 15px;
  /*height: 100%;*/
}

mat-sidenav {
  display: flex;
  flex-flow: column;
  position: fixed;
  top: 50px;
  margin-right: 30px;
}

button {
  margin-left: 10px;
  z-index: 5;
  display: block;
}

#expansion-button {
  position: fixed;
}

app-legal-provision {
  padding-left: 45px;
  width: 100%;
}

.right-sidebar {
  width: 20rem;
}

.fixed-content {
  position: fixed;
  right: 15px;
}

mat-form-field {
  display: block;
}

.edit-button {
  margin: 1rem auto;
}

.delete-button {
  margin: 1rem auto;
}

#button-divider {
  margin-top: 3rem;
}

.section {
  margin-top: 3rem;
}

.section-header {
  text-align: center;
}

.manipulation-buttons {
  margin-top: 15rem;
}

#add-provision-version {
  background-color: #7bd324;
}

#delete-provision {
  background-color: #cf0000;
  color: #ffff;
}
