mat-toolbar {
  background: #004a9f;
  color: white;
}

mat-sidenav {
  margin: 16px 0 16px 16px;
  width: 30vw;
  border-right: none;
  background: #dcdcdc;
  color: white;
  border-radius: 10px;
  /*padding: 16px;*/
  text-align: left;
}

/*.content {*/
/*  height: calc(100vh - 98px);*/
/*  border-radius: 10px;*/
/*  margin: 16px 16px 16px 32px;*/

/*  display: flex;*/
/*  justify-content: center;*/
/*  padding: 30px;*/
/*}*/

.item {
  color: white;
}

mat-sidenav-container {
  /*height: 100%;*/
  width: 100%;
  position: relative;
  z-index: 1;
  padding-top: 15px;
  padding-bottom: 20px;
}

mat-sidenav-content {
  display: flex;
  padding-left: 10px;
  padding-bottom: 15px;
}

mat-sidenav {
  display: flex;
  flex-flow: column;
  position: fixed;
  top: 50px;
  margin-right: 30px;
}

button {
  margin-left: 10px;
  position: fixed;
  z-index: 5;
/*  width: 15px;*/
/*  padding-left: 0;*/
/*  padding-right: 0;*/
}

app-legal-provision {
  padding-left: 45px;
  width: 100%;
}

