<!--<app-toolbar (stateChanged)="isSidebarOpened = !isSidebarOpened"></app-toolbar>-->

<mat-sidenav-container hasBackdrop="false">
  <mat-sidenav mode="side" [opened]="isSidebarOpened">
    <app-provision-menu [provision]="provisionVersion"></app-provision-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <button mat-mini-fab color="primary" (click)="isSidebarOpened = !isSidebarOpened">
      <mat-icon *ngIf="!isSidebarOpened">
        arrow_forward
      </mat-icon>
      <mat-icon *ngIf="isSidebarOpened">
        arrow_back
      </mat-icon>
    </button>

    <app-legal-provision [provision]="provisionVersion"></app-legal-provision>

    <div class="right-sidebar">
      <div class="fixed-content">
        <app-versions-list (versionChanged)="getProvision($event)"></app-versions-list>

        <mat-form-field appearance="fill" *ngIf="provision">
          <mat-label>Compare</mat-label>
          <mat-select [(value)]="dateOfChange">
            <mat-option *ngFor="let date of provision.fields.datesOfChange" [value]="date">
              {{date}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-raised-button (click)="openComparisonPage()">
          Compare version
        </button>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
