<!--<app-toolbar (stateChanged)="isSidebarOpened = !isSidebarOpened"></app-toolbar>-->

<mat-sidenav-container hasBackdrop="false">
  <mat-sidenav mode="side" [opened]="isSidebarOpened">
    <app-provision-menu [provision]="provision"></app-provision-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <button mat-mini-fab color="primary" (click)="isSidebarOpened = !isSidebarOpened">
      <mat-icon *ngIf="!isSidebarOpened">
        arrow_forward
      </mat-icon>
      <mat-icon *ngIf="isSidebarOpened">
        arrow_back
      </mat-icon>
    </button>

    <app-legal-provision [provision]="provision"></app-legal-provision>

    <app-versions-list (versionChanged)="getProvision($event)"></app-versions-list>
  </mat-sidenav-content>
</mat-sidenav-container>
