.menu-title span {
  font-weight: bold;
}

app-provision-menu-item {
  margin-top: 0;
  margin-bottom: 0;
}

.type-spec {
  font-weight: bold;
}

mat-tree-node:hover {
  background-color: #8556b6;
  cursor: pointer;
}

.bold {
  font-weight: bold;
  width: 7em;
}
