<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding="0.5"
                 (click)="scroll(node.id?.toString() || '')">
    <!-- use a disabled button to provide padding for tree leaf -->
    <button mat-icon-button disabled></button>
    <span class="bold">{{node.type}} {{node.identifier}}:</span> {{node.title}}
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding="0"
                 (click)="scroll(node.id?.toString() || '')">
    <button mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'Toggle ' + node.name">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>

    <span class="bold">{{node.type}} {{node.identifier}}: </span><span>{{node.title}}</span>
  </mat-tree-node>
</mat-tree>



<!--<mat-list>-->
<!--  <mat-list-item class="menu-title">-->
<!--    <span>{{provision.fields.content.title}}</span>-->
<!--  </mat-list-item>-->

<!--  <mat-list-item class="menu-item" *ngFor="let item of provision.fields.content.innerItems">-->
<!--    <a [href]="'#' + item.id?.toString()">-->
<!--      <span class="type-spec">{{provision.fields.content.innerItemsType}}</span> {{item.title}}-->
<!--    </a>-->
<!--    <mat-expansion-panel>-->
<!--      <mat-expansion-panel-header>-->
<!--        <mat-panel-title>-->
<!--          {{provision.fields.content.innerItemsType}}-->
<!--        </mat-panel-title>-->
<!--        <mat-panel-description>-->
<!--          {{item.title}}-->
<!--        </mat-panel-description>-->
<!--      </mat-expansion-panel-header>-->
<!--      <p>Some text</p>-->
<!--    </mat-expansion-panel>-->
<!--  </mat-list-item>-->
<!--  <app-provision-menu-item *ngFor="let child of provision.fields.content.innerItems"-->
<!--                           [contentItem]="child"-->
<!--                           [type]="provision.fields.content.innerItemsType"></app-provision-menu-item>-->
<!--</mat-list>-->


<!--<mat-expansion-panel hideToggle>-->
<!--  <mat-expansion-panel-header>-->
<!--    <mat-panel-title>-->

<!--    </mat-panel-title>-->
<!--    <mat-panel-description>-->
<!--      This is a summary of the content-->
<!--    </mat-panel-description>-->
<!--  </mat-expansion-panel-header>-->
<!--  <p>This is the primary content of the panel.</p>-->
<!--</mat-expansion-panel>-->

<!--<mat-expansion-panel (opened)="panelOpenState = true"-->
<!--                     (closed)="panelOpenState = false">-->
<!--  <mat-expansion-panel-header>-->
<!--    <mat-panel-title>-->
<!--      Self aware panel-->
<!--    </mat-panel-title>-->
<!--    <mat-panel-description>-->
<!--      Currently I am {{panelOpenState ? 'open' : 'closed'}}-->
<!--    </mat-panel-description>-->
<!--  </mat-expansion-panel-header>-->
<!--  <p>I'm visible because I am open</p>-->
<!--</mat-expansion-panel>-->
<!--</mat-accordion>-->

<!--<ng-template #recursiveMenu let-contentItem let-type>-->
<!--  <mat-list-item>-->
<!--    <span class="section-name">{{type}}</span> {{contentItem.title}}-->
<!--  </mat-list-item>-->
<!--  <ng-container *ngTemplateOutlet="recursiveMenu; context: {$implicit: contentItem.}"></ng-container>-->
<!--</ng-template>-->
