mat-card {
  margin: 15px;
  cursor: pointer;
  display: flex;
}

mat-card-title {
  margin-top: 10px;
  margin-left: 15px;
}

p {
  color: #B7B7B7;
  margin: 10px;
}

.list-container {
  margin-top: 65px;
}

.main-container {
  display: flex;
}

.content {
  flex: 1 1 auto;
}

.manipulation-buttons {
  flex: 0 1 110px;
  margin-top: auto;
  margin-bottom: auto;
}
