<div class="list-container">
  <mat-card *ngFor="let provision of provisionList">
    <div class="main-container">
      <div class="content" routerLink="/provision/{{provision.id}}">
        <mat-card-title>
          {{provision.fields.title}}
        </mat-card-title>
        <mat-card-content>
          <p>
            <span *ngFor="let keyword of provision.fields.keywords; let last = last">{{keyword}}
              <span *ngIf="!last">, </span>
            </span>
          </p>
        </mat-card-content>
      </div>

      <div class="manipulation-buttons">
        <button mat-icon-button
                class="edit-button"
                color="accent"
                title="Změnit předpis"
                routerLink="/add-provision-version/{{provision.id.toString()}}">
          <mat-icon>
            edit
          </mat-icon>
        </button>
        <button class="delete-button"
                mat-icon-button color="warn"
                title="Smazat předpis"
                (click)="deleteProvision(provision.id)">
          <mat-icon>
            delete
          </mat-icon>
        </button>
      </div>
    </div>
  </mat-card>
</div>
