mat-card {
  margin: 0 15px 0 15px;
  cursor: pointer;
}

mat-card-title {
  margin-top: 10px;
  margin-left: 15px;
}

p {
  color: #B7B7B7;
  margin: 10px;
}

.list-container {
  margin-top: 65px;
}
