#form-container {
  margin: 0 auto;
  padding: 10px 0;
  width: 80%;
  display: block;
}

button {
  margin: 20px 40px 20px 20px;
  padding: 20px;
  float: right;
}

.form {
  margin: 20px;
}

#keywords-form {
  width: 100%;
}

.bold {
  font-weight: bold;
}

.files-container {
  padding-left: 20px;
}

.remove-button {
  float: none;
  margin: 0;
}

#save-only-btn {
  margin-right: 0;
}

#save-close-btn {
  background-color: #ff8c26;
}
