<div id="form-container">
  <div class="date-picker form">
    <mat-form-field appearance="fill">
      <mat-label>Issue date</mat-label>
      <input matInput [matDatepicker]="pickerIssue"
             [(ngModel)]="issueDate" required
             (dateChange)="issueDate = correctDate(issueDate)">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="pickerIssue"></mat-datepicker-toggle>
      <mat-datepicker #pickerIssue></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="date-picker form">
    <mat-form-field appearance="fill">
      <mat-label>Valid from</mat-label>
      <input matInput [matDatepicker]="pickerValid"
             [(ngModel)]="provisionFields.validFrom"
             (dateChange)="provisionFields.validFrom = correctDate(provisionFields.validFrom)">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="pickerValid"></mat-datepicker-toggle>
      <mat-datepicker #pickerValid></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="date-picker form">
    <mat-form-field appearance="fill">
      <mat-label>Takes effect from</mat-label>
      <input matInput [matDatepicker]="pickerEffect"
             [(ngModel)]="provisionFields.takesEffectFrom"
             (dateChange)="provisionFields.takesEffectFrom = correctDate(provisionFields.takesEffectFrom)">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="pickerEffect"></mat-datepicker-toggle>
      <mat-datepicker #pickerEffect></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="form">
    <mat-form-field id="issuer">
      <mat-label>Vydavatel</mat-label>
      <mat-select [(ngModel)]="issuer" required>
        <mat-option *ngFor="let currentIssuer of issuers" [value]="currentIssuer">
          {{currentIssuer}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form">
    <mat-form-field id="keywords-form">
      <mat-label>Keywords</mat-label>
      <input matInput [(ngModel)]="keywords" >
    </mat-form-field>
  </div>

  <div class="files-container">
    <div *ngIf="provisionVersion?.fields?.fileMetadata?.name">
      <p>
        <span class="bold">Aktuální úplná verze dokumentu: </span>
        <a href="{{fullVersionHref}}">{{provisionVersion!.fields.fileMetadata!.name}}</a>
      </p>
    </div>

    <input type="file" (change)="onFileSelected($event)">
  </div>

  <app-add-provision-content [content]="provisionFields.content"
                             [availableTypes]="availableTypes"></app-add-provision-content>

  <button mat-raised-button color="accent" (click)="saveProvision()" [disabled]="saving">
    Uložit předpis
    <mat-progress-bar mode="indeterminate" *ngIf="saving"></mat-progress-bar>
  </button>
</div>
